.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: solid 1px var(--gray-400);
  width: 100%;
  background: var(--gray-500);
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 400;
  height: 4.5rem;
  padding: 0 1rem;
}

.taskCompleted {
  text-decoration: line-through;
  color: var(--gray-300);
}

.buttonDiv {
}

.buttonDiv button {
  display: block;
  background: transparent;
  border-radius: 4px;
  border: 0;
  color: var(--gray-300);
  height: 1.5rem;
  width: 1.5rem;
}

.task button svg {
  height: 0.875rem;
  width: 0.875rem;
  transition: color 0.2s, background-color 0.2s;
}

.task button:hover {
  background: var(--gray-400);
  border: 0;
  color: var(--danger);
}

.task label input {
  margin-right: 0.5rem;
}

.task + .task {
  margin-top: 0.75rem;
}

.checkbox {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 2px solid var(--blue);
  appearance: none;
  -webkit-appearance: none;
  transition: color 0.2s, background-color 0.2s;
}

.checkbox:hover {
  border: 2px solid var(--blue-dark);
}

.checkbox:checked {
  border: 0;
  background: var(--purple-dark);
  transition: color 0.2s, background-color 0.2s;
}

.checkbox:checked:hover {
  border: 0;
  background: var(--purple);
}
